<link rel="stylesheet" href="/styles/navbar.css">
<nav class="navbar">
  <a href="/">Home</a>
  <a href="/tasks">Tasks & Goals</a>
  <a href="/pomodoro">Pomodoro Timer</a>
  <a href="/resources">My Resources</a>
  <a href="/progress">Progress</a>
  <a href="/about">About</a>
  
</nav>
